<section class="phx-hero">
  <a href={Routes.user_path(@conn, :index)}>Users</a> <a class="btn btn-primary" href={Routes.user_path(@conn, :new)}>Create User</a>
  <h1><%= gettext "Welcome to %{name}!", name: "Rumbl.io" %></h1>
  <p>Rumbl out loud!</p>
</section>

